*,
*:before,
*:after {
  box-sizing: border-box;
}
:root {
  --accent: #f7941e;
  --gray: #f1f1f2;
}

@font-face {
  font-family: gilroy;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('fonts/gilroy-thin.woff');
}
@font-face {
  font-family: gilroy;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('fonts/gilroy-light.woff');
}
@font-face {
  font-family: gilroy;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('fonts/gilroy-bold.woff');
}

body {
  font-family: gilroy, sans-serif;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
img {
  max-width: 100%;
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
a:hover {
  color: var(--accent);
}
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}

.header-nav {
  display: none;
}

@media screen and (min-width: 576px) {
  .header-nav {
    display: flex;
  }
}

.title-1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
}

@media screen and (min-width: 992px) {
  .title-1 {
    font-size: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .title-1 {
    font-size: 56px;
  }
}

.title-2 {
  font-size: 28px;
  font-weight: 400;
  line-height: 1.4;
}

@media screen and (min-width: 992px) {
  .title-2 {
    font-size: 32px;
  }
}

.fw-700 {
  font-weight: 700;
}
.d-flex {
  display: flex;
}
.text-center {
  text-align: center;
}
.justify-content-between {
  justify-content: space-between;
}
.plain-text {
  font-size: 20px;
  line-height: 1.2;
  text-align: justify;
}
.sm-text {
  font-size: 18px;
  line-height: 1.2;
  text-align: justify;
}
.header-holder {
  padding-top: 20px;
  padding-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .header-holder {
    padding-top: 36px;
    padding-bottom: 36px;
  }
}

.p-8 {
  padding: 8px;
}
.pl-10 {
  padding-left: 10px;
}
.bg-accent {
  background-color: var(--accent);
}
.button-primary {
  padding: 10px 22px;
  border: 1px solid var(--accent);
  border-radius: 5px;
  background-color: white;
  color: var(--accent);
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-transform: uppercase;
}
.button-primary:hover {
  background-color: var(--accent);
  color: white;
}
.header-nav-link {
  color: black;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
}
.hero-section {
  padding-top: 82px;
  background-color: var(--gray);
}
.hero-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .hero-flex {
    flex-direction: row;
  }
}

.hero-content {
  max-width: 450px;
  padding-right: 16px;
}
.hero-img-holder {
  max-width: 570px;
}

@media screen and (min-width: 992px) {
  .hero-img-holder {
    padding-left: 30px;
  }
}

.hero-button-holder {
  padding-top: 36px;
  padding-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .hero-button-holder {
    padding-top: 76px;
  }
}

.hero-button {
  padding: 18px 34px;
  background-color: var(--gray);
}
.how-we-work-section {
  padding-top: 70px;
  padding-bottom: 128px;
  background-color: var(--gray);
}
.how-we-work-img-holder {
  order: 2;
  max-width: 570px;
}

@media screen and (min-width: 768px) {
  .how-we-work-img-holder {
    order: 0;
  }
}
@media screen and (min-width: 992px) {
  .how-we-work-img-holder {
    padding-right: 30px;
  }
}

.how-we-work-content {
  max-width: 360px;
}

@media screen and (min-width: 768px) {
  .how-we-work-content {
    padding-left: 16px;
  }
}
@media screen and (min-width: 992px) {
  .how-we-work-content {
    max-width: 460px;
  }
}

.how-we-work-button-holder {
  padding-top: 36px;
  padding-bottom: 30px;
}
.how-we-work-button {
  padding: 18px 46px;
  background-color: var(--gray);
}
.gifts-section {
  padding-top: 96px;
  padding-bottom: 136px;
}
.gifts-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 64px;
}

@media screen and (min-width: 768px) {
  .gifts-list {
    flex-flow: row wrap;
    justify-content: space-between;
    padding-right: 26px;
    padding-left: 26px;
  }
}
@media screen and (min-width: 992px) {
  .gifts-list {
    padding-right: 68px;
    padding-left: 68px;
  }
}
@media screen and (min-width: 1280px) {
  .gifts-list {
    padding-right: 0;
    padding-left: 0;
  }
}

.gifts-list-item {
  display: flex;
  flex-direction: column;
  max-width: 270px;
  margin-top: 10px;
  background-color: var(--gray);
}
.gifts-list-item:hover {
  background-color: white;
  box-shadow: 6px 6px 16px #00000025;
}
.gifts-list-item-content {
  display: flex;
  flex-direction: column;
  padding: 24px;
}
.gifts-list-item-link {
  padding-top: 74px;
  color: black;
  font-size: 14px;
  text-align: 1.2;
}
.cta-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .cta-section {
    flex-direction: row;
  }
}
@media screen and (min-width: 992px) {
  .cta-section {
    padding-right: 64px;
    padding-left: 64px;
  }
}
@media screen and (min-width: 1280px) {
  .cta-section {
    padding: 70px 100px;
  }
}

.cta-button-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1280px) {
  .cta-button-holder {
    flex-direction: row;
  }
}

.cta-section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
  padding-left: 10px;
}
.cta-button {
  margin: 10px;
  padding: 14px 34px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: var(--accent);
  color: black;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
}
.cta-button:hover {
  background-color: black;
  color: white;
}
